- name: Install QEMU guest agent
  hosts: linux
  become: true
  tasks:
    - name: Install QEMU guest agent
      ansible.builtin.apt:
        name: qemu-guest-agent
        state: present
        update_cache: true
